body {
  display: flex;
  flex-direction: row;
  background-color: #6b2c3e;
  margin: 0;
}
#left {
  height: 100vh;
  width: 638px;
}
.container,
.back-image {
  width: 100%;
}
.logo-container,
.logo {
  width: 100%;
}

.back-image {
  position: absolute;
  width: 638px;
  height: 100%;
  margin: 0;
  z-index: 1;
}
.logo-container {
  position: relative;
  z-index: 2;
  top: 250px;
  background-color: #00000080;
}
.credit {
  position: relative;
  z-index: 2;
  top: 700px;
  left: 180px;
  width: 250px;
  color: bisque;
}
a {
  text-decoration: none;
  color: bisque;
  text-decoration-line: underline;
}
.logo {
  width: 90%;
  margin-left: 4%;
}
#right {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-width: 1153px;
}
.one,
.two {
  display: flex;
  flex: auto;
}
.one {
  display: flex;
  flex-direction: column;
  max-height: 324px;
}
.speech,
.afterthought {
  color: #f0a07e;
  font-size: 30px;
  margin-left: 10%;
}
.two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  width: 80%;
}
ul li {
  width: 39%;
  display: inline-block;
  padding-left: 10%;
  padding-bottom: 5%;
}
form {
  width: 80%;
}
p.title {
  align-self: flex-start;
  margin-left: 14%;
  font-size: 30px;
  color: #ffd700;
}
.wrapper {
  width: 100%;
  background-color: #2e2e2e;
  padding: 0;
}
label {
  color: #ffd700;
}
label,
input {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#password:invalid {
  border: 5px solid #e21616;
}
#confirmPassword:invalid {
  border: 5px solid #e21616;
}
input:focus-within {
  border-style: solid;
  border-color: cornflowerblue;
  border-radius: 2px;
  outline: none;
}
#submitButton {
  align-self: flex-start;
  margin-left: 10%;
  margin-top: 2%;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #3a4a3e;
  color: #c0d6c0;
  box-shadow: 1px 1px 1px;
  border-style: none;
}
p.login {
  color: #f0a07e;
  align-self: flex-start;
  margin-left: 10%;
}
p a {
  text-decoration: none;
}
